<!DOCTYPE html>
<html>
<head>
  <title>Movie Trivia</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> --}}
  <link rel="stylesheet" href="../assets/css/movies.css" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

</head>

<body id="background">

     <div>
        <a id="profile" href="#" data-activates="slide-out" class="btn button-collapse orange accent-4">
        Profile</a>
       
        <h1 id="titulo">Welcome To Trivia Masters</h1>
    </div>
      <ul id="slide-out" class="side-nav">
          <li><div class="userView">
            <img class="background" src="https://wallpaperscraft.com/image/space_sky_stars_79233_602x339.jpg">
            <a href="#!user"><img class="circle" src="http://zblogged.com/wp-content/uploads/2015/11/21.jpg"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div></li>
            <li><a href="#!"><i class="material-icons">cloud</i>Edit Profile</a></li>
            <li><a href="#!">Scores</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Score Leaders</a></li>
            <li><a class="waves-effect" href="#!">Friends</a></li>
      </ul>


    <div class="container">
        
      <div id="triviaQuestions">
        {{#each questions}}
          <h2>
      	   {{text}}
         </h2>
          
        {{/each}}
        <ol>
          {{#each answers}}
                <li>
                  {{text}}
                </li>
          {{/each}}
          </ol>
      </div>
    </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script>
   $(document).ready(function(){
      $('.carousel').carousel();
    });
        $(document).ready(function(){
        $('.slider').slider();
      });
$( document ).ready(function(){
$(".button-collapse").sideNav();
});
    $('.btn button-collapse').sideNav({
      menuWidth: 300, // Default is 240
      edge: 'right', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
       // Show sideNav
    }
  );
  
  </script>
</body>
</html>
