<!DOCTYPE html>
<html>
<head>
	<title>Movie Trivia</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/movies.css" type="text/css"/>

</head>
<body id="background">
	<h1 id="titulo">Trivia Page</h1>

<div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text">
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                <label for="disabled">Disabled</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email" data-error="wrong" data-success="right">Email</label>
              </div>
            </div>
          </form>
        </div>



  {{!-- <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
  </div> --}}
	{{!-- <h3> Choose the best answer to the following questions.</h3> --}}
{{!-- <div id='container2'>
      <div id='title'>
        <h3>Question 1</h3>
        <h5> Choose the best answer to the following questions.</h5>
      </div>
        <br/>
        <div id='quiz'></div>

<form action="#">
    
    <p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">Option 1 </label>
    </p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">Option 2</label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">Option 3</label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">Option 4</label>
    </p>
     
     
  </form>

        <div class='button' id='next'><a href='#'>Next</a></div>
        <div class='button' id='prev'><a href='#'>Prev</a></div>
        <div class='button' id='start'> <a href='#'>Start Over</a></div>
        <!-- <button class='' id='next'>Next</a></button>
        <button class='' id='prev'>Prev</a></button>
        <button class='' id='start'> Start Over</a></button> -->
      </div>
 --}}

{{!-- <form action="#">
    
    <p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">Green</label>
    </p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">Green</label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">Green</label>
    </p>
     
  </form>
     --}}

        

		{{!-- <div class="container">
			<div class="box">
			<div>
				<p id="login"><strong>Please fill out form to signup</strong></p>
				<div class="form-group">
				    <label class="sr-only" for="exampleInputUser">Name</label>
				    <input type="name" class="form-control" id="userName" placeholder="Enter your name">
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputUser">Username</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter Username">
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputPassword3">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
				  </div>
				  <button type="submit" class="btn btn-primary">Signup</button>
				<a href="/login"><p id="member">Already a member?</p></a>
			</div>
			</div>
		</div>
	 --}}

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script> 
<script>

  $(document).ready(function() {
    $('select').material_select();
  });

  $(document).ready(function() {
    Materialize.updateTextFields();
  });
   
   </script>
</body>
</html>