#background
{
  background-color: #212121;
}
a#profile{
  margin-left: 90%;
}
.input-group
{
  margin-top: 10px;
}

.btn-primary
{
  margin-top: 10px;
}

.intro{
    margin-left: 651px;
    margin-top: 20px;
}
.container
{
  text-align: center;
  font-family: cursive;
  background-color: #4a148c;
  width: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

#titulo
{
  text-align: center;
  font-family: 'Nosifer', cursive;
  color: #d50000;
}

#container2{
  background-color: #ff6d00;
    width: 50%;
    height: 450px;
    margin-left: 25%;
}


#slideshow{
  width: 50%;
}
/*#btn{
  margin-left: 90%;*/
}
h4{
font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    text-align: center;
    color: white;
}
h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
    text-align: center;
    color: white;
}

#login
{
  font-size: 20px;
}

#member
{
  float: right;
}


#row2{
  margin-top: 40px;
}
}

.img1{
  padding-bottom: 40%;
}
.img2{
  padding-bottom: 30%;
}

@media (min-width: 400px)
.container {
    text-align: center;
    width:20%;
    margin: 0 auto;

}


@media (min-width: 768px)
.container {
    text-align: center;
    width:20%;
    margin: 0 auto;
}



@media (min-width: 992px)
.container {
    text-align: center;
    width:20%;
    margin: 0 auto;
}
